*.md
.env
.jbeval/
# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.env
*.bin
*.safetensors
*.pt
*.pth
qdrant_storage/
logs/
*.log
.DS_Store
Thumbs.db
test/
*.html
data/
tests/
.docker